altgraph==0.10.2
bdist-mpkg==0.5.0
macholib==1.5.1
modulegraph==0.10.4
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
six==1.4.1
zope.interface==4.1.1
Django==2.0.6
mysqlclient==1.3.12
pytz==2018.4
certifi==2018.4.16
Django==2.0.6
mysqlclient==1.3.12
pipenv==2018.5.18
pytz==2018.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
